<span ng-show="todo.list.length !==0">Items: {{todo.list.length}}</span>
<span ng-show="todo.list.length ==0">Nothing to do.</span>
<ol class="list-unstyled">
  <li ng-repeat="item in todo.list">
    <input ng-click = "finished = !finished; todo.finished(item)" type="checkbox">
      {{item.name}}<span class="pull-right">Due: {{item.date|date:"short"}}</span>
  </li>
</ol>
<div class="input-group">
<input class="form-control" type="text" ng-model="input">
 <span class="input-group-btn">
   <button class="btn btn-default" type="button" ng-click = "todo.add(input)">Add Task</button>
 </span>
</div>
